<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
</head>
<link rel="stylesheet" href="/css/aboutus.css">
<body>
     <div class="main-top">
        <div class="back_arrow_div">
            <a href="/homepage" class="back-arrow" style="text-decoration: none;">
                &#8592;
            </a>
        </div>
        <h1>Contact Us</h1>
    </div>
    <div class="greetings">
        <h2>We would love to hear from you!!</h2>
        <p>We welcome you to contact us using the below details</p>
        
    </div>
   
 <div class="needed">
        <div class="need">        
        <img class="image" src="https://images-platform.99static.com//MX8B2WnK42YJgZz49iBhN9RFBR0=/259x28:915x684/fit-in/500x500/projects-files/88/8846/884652/9a50b83a-3cd3-4220-b33e-b3f1f0f46627.png" alt="">     
             <p class="wool">Woolymo Online</p>
             <p class="a">Contact us regarding an online order or online shopping experience</p>
             <p class="b">Monday to Friday 5am to 12am (AEST)
              (5am to 1am in daylight saving time)</p>
              <p class="c">Saturday 5am to 10:30pm (AEST)</p>
              <p class="d">Sunday 5am to 10pm (AEST)</p>
              <br>
              <p class="e">We're available over the phone</p>
              <p class="change">1800 000 610</p>     
             </div>   
         <div class="right">
         <img class="image" src="https://images-platform.99static.com//MX8B2WnK42YJgZz49iBhN9RFBR0=/259x28:915x684/fit-in/500x500/projects-files/88/8846/884652/9a50b83a-3cd3-4220-b33e-b3f1f0f46627.png" alt="">
                <p class="ok">Woolymo Factory</p>
                <p class="f">Contact us regarding an instore shopping experience or product availability enquiry</p>
                <br>
                <p class="g">Monday to Friday 9am to 7pm (AEST)</p>
                <p class="h">Saturday & Sunday 10am to 4pm (AEST)</p>
                <br class=>
                <p class="no"> We are available over the phone</p>
                <p class="num">1300 767 969
                </p>
         </div>  
         <div class="nope">
            <img class="image" src="https://images-platform.99static.com//MX8B2WnK42YJgZz49iBhN9RFBR0=/259x28:915x684/fit-in/500x500/projects-files/88/8846/884652/9a50b83a-3cd3-4220-b33e-b3f1f0f46627.png" alt="">
            <p class="ins">Have questions on Woolymo at Work?</p>
            <p class="yup">Current Customer Enquiry
                For support with your existing business account visit our Woolymo website</p>
                <br>
                <p class="yes">New Business Enquiry
                    If you are interested in learning more about Woolymo at Work please visit our woolymo website</p>
                    <p></p>
         </div>
       
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="modify">
        <div class="clearfix">
            <div class="box" style="background-color:white">
            <p class="i">Customer Service</p>
            <br>
            <p> Help & Support</p>
            <p> Feedback</p>
            <p> Return Policy</p>
            <p> Scam Warning </p>
            </div>
            <div class="diff" style="background-color:white">
                <br>
                <br>
                <br>
            <p class="j">Shop Groceries Online</p>
            <br>
            <p>View My Account </p>
            <p> Shop for your Business</p>
            <p> Delivery</p>
            <p> Pick up</p>
            </div>
            <div class="sup" style="background-color: white">
                <br>
                <br>
                <br>
            <p class="k">About Woolymo</p>
            <br>
           <p>Why Pick Woolies?</p>
           <p>Our Brands</p>
           <p>Woolworths Group Privacy Centre</p>
           <p>Suppliers</p>
           
            </div>
          </div>
        </div>
          <br>
          <br>
          <br>
        
        
    
    
    
    
</body>
</html>