<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <div class="container">
        <div class="login-image-container">
            <img src="./images/istockphoto-500613590-612x612.jpg" alt="">
        </div>
        <div class="login-container">
            <form class="login-form" action="/submited" method="post">
                <h2>Login</h2>
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" required>
                <label for="mobile">Mobile Number:</label>
                <input type="text" id="mobile" name="mobile" placeholder="Enter your mobile number" >
                <label for="Adress">Adress:</label>
                <input type="text" id="address" name="address" placeholder="Enter your adress" required>   
                <label for="password">Password:</label>
                <input type="text" id="password" name="password" placeholder="Enter your password" required>
                <label for="password">Confirm Password:</label>
                <input type="password" id="confirmpassword" name="confirmpassword"  placeholder="Enter your password" required>
                <input type="submit" class="button">
                <p style="color: white;">Continue with google <a href="login.html">Login</a></p>
            </form>
        </div>
        <script>
            
        </script>
    </div>
</body>
</html>